# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Environment files (NEVER UPLOAD THESE)
.env
/frontend/.env
/backend/.env

# Build output
/frontend/build

# IDE / OS specific
.DS_Store
.vscode/

# Secret files
google-credentials.json
/backend/google-credentials.json